<h2><%= @zoo.name %></h2>
<p style="text-align:right"><a href="/exhibits">Exhibits</a></p>
<p style="text-align:right"><a href="/zoos">Zoos</a></p>
<p>Free Admission: <%= @zoo.free_admission %></p>
<p>Number of Employees: <%= @zoo.number_of_employees %></p>
<br><p>Exhibits Listed: <%= @zoo.exhibits.length %></p>
<p> <%= link_to 'Update Zoo', "/zoos/#{@zoo.id}/edit", method: :get %></p>
<!-- <p><a href="/zoos/edit"> Update Zoo</a></p> -->
